* {
margin: 0;
padding: 0;
}

body {
background: #CCC;
margin: 20px 10px;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 13px;
}

h1 {
font-weight: normal;
font-size: 1.5em;
margin: 0px 0px 10px 0px;
color: #F00;
height: 42px;
line-height: 42px;
background: #fff url(/Themes/Error/Graphics/alert.png) top left no-repeat;
padding-left: 58px;
}

h2 {
margin: 10px 0px;
font-size: 1.3em;
font-weight: normal;
color: #800;
}

h3 {
margin-bottom: 1em;
font-size: 1.15em;
color: #800;
border-bottom: 1px dotted #800;
padding-bottom: 0.1em;
}

ol {
z-index: 100;
margin: 1em 2em;
list-style-position: inside;
}

ul {
list-style: none;
z-index: 100;
margin: 1em 2em;
}

li {
padding: .25em .5em;
}
li.highlight {
background: #fefefe;
color: #a00;
}

a.arg {
color: #00a;
}

#main {
padding: 10px 15px;
margin: 0px 10px;
background: #FFF;
border: 1px solid #AAA;
}

div.popup {
background-color: #fbf9ee;
display: none;
height: 200px;
border: 1px solid #444;
font-size: 10px;
left: 0;
overflow: auto;
position: absolute;
top: 0;
width: 400px;
z-index: 1000;
}

div.popup a.close {
border: 1px solid #fcefa1;
padding: .5em;
margin: .5em .5em 0 0;
color: #444;
text-decoration: none;
font-weight: bold;
background-color: #fbf9ee;
overflow: auto;
float: right;
display: block;
}

div.popup h2 {
float: left;
font-size: 12px;
color: #444;
padding: .5em 1em;
}

div.popup ul {
clear: both;
z-index: 1000;
margin: -1em 1em 1em 1em;
}

div.popup ul li {

padding: .25em;
margin: .25em 0 .25em .25em;
}

div.popup ul li ul {
margin: .5em 0 .5em 1em;
}

.section { margin-bottom: 1em; }

.code {
background: #eee;
border: 1px solid #DDD;
font-family: "Lucida Console", "Courier New";
}

.version, .client {
margin-top: 1em;
font-size: 0.85em;
font-style: italic;
}
